.custom-dot {
    width: 8vw; /* Adjust the width as needed */
    height: 8vw; /* Adjust the height as needed */
    border-radius: 100%;
    overflow: hidden;
    margin: 1vw 3vw;
    background-color: #ffe4e6 !important;
}

.custom-dot img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    align-self: center;
    margin: auto;
}