@tailwind base;
@tailwind components;
@tailwind utilities;
/* .TopPart {
    position: relative;
    width: 100%;
    height: fit-content;
    min-height: 800px;
    text-align: center;
    flex-wrap: nowrap;
    padding: 100;
    fill: #0D1321;
    overflow: hidden;
    background-color: #0D1321;
} */